Babel==2.9.0
beautifulsoup4==4.9.3
blinker==1.4
bootstrap4==0.1.0
boto==2.48.0
boto3==1.4.7
botocore==1.7.32
certifi==2017.7.27.1
chardet==3.0.4
command-not-found==0.3
distlib==0.3.1
dj-database-url==0.5.0
dj-static==0.0.6
Django==1.11.17
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap4==2.2.0
django-countries==5.5
django-crispy-forms==1.7.2
django-geojson==2.12.0
django-heroku==0.3.1
django-intl-tel-input==0.3.1
django-intl-tel-input2==0.2.0
django-leaflet==0.26.0
django-phonenumber-field==4.0.0
django-ses==0.8.14
django-storages==1.11.1
django-termsandconditions==1.2.15
docutils==0.14
entrypoints==0.3
filelock==3.0.12
future==0.18.2
gitdb2==2.0.3
GitPython==2.1.7
gunicorn==19.7.1
idna==2.6
jmespath==0.9.3
jsonfield==2.0.2
leaflet==0.0.3
olefile==0.44
phonenumbers==8.10.20
Pillow==8.1.0
psycopg2==2.8.4
psycopg2-binary==2.8.6
pyasn1-modules==0.2.1
pycountry==20.7.3
python-dateutil==2.6.1
python-dotenv==0.15.0
pytz==2020.5
PyYAML==5.3.1
requests==2.25.1
s3transfer==0.1.11
simplejson==3.16.0
six==1.11.0
smmap2==2.0.3
soupsieve==2.1
sqlparse==0.4.1
static3==0.7.0
stripe==2.49.0
systemd-python==234
ufw==0.36
urllib3==1.26.3
uWSGI==2.0.18
virtualenv==20.4.2
whitenoise==5.2.0
